//.ProseMirror {
//  border-radius: $border-radius;
//  overflow: hidden;
//  border-color: $primary;
//  background-color: $gray-100;
//
//  .tui-editor-defaultUI-toolbar {
//    background-color: $gray-100;
//    padding: 0 .5rem;
//  }
//
//  .te-toolbar-section {
//    border-bottom-color: $border-color!important;
//  }
//
//  .tui-toolbar-icons {
//    background-color: $gray-100;
//    border-color: $gray-100;
//  }
//
//  .tui-editor-contents {
//    padding: .75rem .75rem 0 .75rem!important;
//  }
//
//  .te-ok-button {
//
//  }
//}