.search-input {
  padding: 1.2rem;
  border: 0;
  outline: none;
  box-shadow: none;
  font-size: 1.2rem;
  background-color: transparent;
}

.search-close {
  color: $gray-600;
  font-size: 1.5rem;
}