.translate-middle {
  transform: translate(-50%, -50%) !important;
}

.left-100 {
  left: 100% !important;
}

.left-80 {
  left: 80% !important;
}

.top-0 {
  top: 0 !important;
}

.cursor-move {
  cursor: move;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}
